body {
    padding-top:39px;
    padding-bottom: 40px;
    color: #5a5a5a;
}
/* 下面是左侧导航栏的代码 */
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ddd;
    border-right: 1px solid #eee;
}
.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
.main {
    padding: 20px;
}
.main .page-header {
    margin-top: 0;
}
/*tab 切换*/
.tab-all{ width: 300px; float: left;}
.tab-head{ width: 300px; float: left; background-color: #44a3dd;}
.tab-head li{ float: left; width: 33%; text-align: center;}
.tab-head li.active{ background-color: #FFFFFF;}
.tab-context{ width: 300px; float: left;}
/*index_li*/
.index_li{ width: 500px;}
.index_li ul{ width:100%;}
.index_li ul li{ width:20%; float: left; text-align: center; background-color: #44a3dd; margin: 0 10px;}
.ul-li-objust{ width:250px;}
.ul-li-objust li{ width:250px; margin-bottom: 10px;}
/*导航*/
.dh_name{ width:100%; height: 43px; float: left; border-bottom: 2px solid #2a6496; overflow: hidden; position: relative;}
.dh_name ul{float: left; margin: 0;}
.dh_name_view{ width:94%; margin-left: 3%; margin-top: 10px; float: left;}
.dh_name_li{background-color:#fafafa; text-align: center; padding: 0 25px 10px 10px; border-right: 1px solid #dddddd; line-height:41px; height:41px; color: #666666; position: relative; float: left;}
.dh_name_li .fa-times-circle{ position: absolute; top:14px; right:8px;}
.dh_name_li div{display: block;width: 100%; float: left;  padding: 0 21px;}
.dh_name_max{  width:3000px; position: absolute; top: 0; left: 90px;}
.dh_name_left{ float: left;   width:80px; position: absolute;left:10px; top: 0; text-align: center;line-height:41px!important; border-right:1px  solid #666666; z-index: 1; background-color: #ffffff;}
.dh_name_right{ float: right; width:80px; position: absolute;right:10px; top: 0; text-align: center;line-height:41px!important; border-left: 1px solid #666666; z-index: 1; background-color: #ffffff;}

.gaoliang{background-color:#6F8BB8; color: #ffffff;}
/*其他*/
.submenu-nav-box.on{display: block!important;}
.dh_tab_to.on {
    display: block;
}

.dh_tab_to {
    background-color: #FFFFFF;
}

.row li {
    cursor: pointer;
}

.hide {
    display: none;
}

.dh_high {
    text-align: center;
}

.grid {
    width: 100%;
    height: 680px;
}

.navbar-inverse {
    background-color: #2D528D;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #2aabd2;
}

.navbar-brand {
    padding-top: 8px;
}

.dh_right {
    float: right !important;
}

.navbar-header {
    width: 10%;
}

.navbar-nav {
    width: 80%;
}
.dh_tab>li>a{ padding-top:0; padding-bottom: 0; height:50px; line-height:50px;}
.dropdown-menu{ width: 500px; background-color: #2e6da4;}
.dh_tab li{ float: left;}
.dh_tab>li>a{ display: block;}
.delet-ng{display: block; line-height:30px; height:30px; padding-left:6px;}
.seach_text{ float:left; margin-left: 10px;}
.seach_text .form-control{width: 150px; float: left;}
.seach_text .Wdate{ float: left; height: 34px; margin:0 10px; border: 1px silver solid;}