/* Styles go here */

ul.tabs {
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.tabs > li {
    float: left;
    cursor: pointer;
    color: #5a5a5a;
}

ul.tabs > li:hover {
    background-color: #6F8BB8;
    color: #FFFFFF;
}

ul.tabs > li.selected {
    background-color:#6F8BB8;
    color: #FFFFFF;
}
