<!--右侧管理控制台-->
<div class="row">
    <div ng-controller="dh_name" class="dh_name">
        <div class="dh_name_left fa fa-backward" ng-click="dh_name_max_l()"></div>
        <div class="dh_name_max">
            <ul>
                <li class=" dh_name_li" ng-class="{'{{gaoliang}}': 'gaoliang', 'name_gaoliang': 'inactive'}[isActive]" ng-repeat="list in names" ui-sref="{{list.url}}">
                    <div ng-click="ss($event)">{{list.name}}</div>
                    <i data="{{$index}}" ng-click="dh_close($event)" class="fa fa-times-circle"></i>
                </li>
            </ul>
        </div>
        <div class="dh_name_right fa fa-forward" ng-click="dh_name_max_r()"></div>
    </div>
    <div ui-view class="dh_name_view"></div>
</div>