<div class="tab-all">
    <ul class="tab-head">
        <li ng-class="{ 'active' : data.current == 1 }" ng-mouseenter="actions.setCurrent(1)">张三</li>
        <li ng-class="{ 'active' : data.current == 2 }" ng-mouseenter="actions.setCurrent(2)">李四</li>
        <li ng-class="{ 'active' : data.current == 3 }" ng-mouseenter="actions.setCurrent(3)">王五</li>
    </ul>
    <ul class="tab-context">
        <li ng-if="data.current == 1">张三的个人信息</li>
        <li ng-if="data.current == 2">李四的个人信息</li>
        <li ng-if="data.current == 3">王五的个人信息</li>
    </ul>
</div>