<div ng-controller="form">
    <ul class="ul-li-objust">
        <li><input ng-model="objects2.a" class="form-control"></li>
        <li><input ng-model="objects2.b" class="form-control" type="number" ng-maxlength="8" ng-minlength="5"></li>
        <li><input ng-model="objects2.c" class="form-control"></li>
        <li><input ng-model="objects2.d" class="form-control"></li>
        <li><input ng-model="objects2.e" class="form-control"></li>
        <li>
            <select name="select" ng-model="objects2.f" class="form-control">
                <option value="1">11</option>
                <option value="2">22</option>
                <option value="3">33</option>
            </select>
        </li>
        <li>
            <input type="radio" ng-model="objects2.g" value="男" />男
            <input type="radio" ng-model="objects2.g" value="女" />女
        </li>
        <li>
            <input name="subBox" type="checkbox" ng-model="objects2.h" value="1" />项1
            <input name="subBox" type="checkbox" ng-model="objects2.i" value="2" />项2
        </li>
        <li style="font-size:21px;">{{ objects2 }}</li>
    </ul>
    <button type="submit" class="btn btn-primary updata1-r on" ng-click="anniu()">按钮</button>
</div>