<div ng-controller="dj" class="data-name" data-name="提示">
    <div ng-click="dj()">点击</div>
    {{response}}
    <div style="margin-top:30px;" ui-sref="home.error-500({'name':{{name}},'id':256})">页面跳转</div>
</div>
<br>
<div class="tab-all">
    <ul class="tab-head">
        <li ng-class="{ 'tabs-active' : data.current == 1 }" ng-click="actions.setCurrent(1)"><i class="pink ace-icon fa fa-tachometer bigger-110"></i>张三</li>
        <li ng-class="{ 'tabs-active' : data.current == 2 }" ng-click="actions.setCurrent(2)"><i class="blue ace-icon fa fa-user bigger-110"></i>李四</li>
        <li ng-class="{ 'tabs-active' : data.current == 3 }" ng-click="actions.setCurrent(3)"><i class="ace-icon fa fa-rocket"></i>王五</li>
    </ul>
    <ul class="tab-context">
        <li ng-if="data.current == 1">111111111111111111111111111</li>
        <li ng-if="data.current == 2">222222222222222222222222222</li>
        <li ng-if="data.current == 3">333333333333333333333333333</li>
    </ul>
</div>
<script>
    $.ajax({
        type: "GET",
        url: getRequestUrl("sq"),
        dataType: "json",
        success: function(data){
           console.log("成功数据"+data)
        }
    });
</script>